* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


header {
    height: 100vh;
    background: url('https://image.tmdb.org/t/p/original/9yBVqNruk6Ykrwc32qrK2TIE5xw.jpg');
    background-size: cover;
    background-position: center center;
}

header a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    font-size: 1.1rem;
}

.logo a {
    color: red;
}

.search-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-section i {
    cursor: pointer;
    font-size: 1.8rem;
    background: red;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateX(-30px);
}

.search-input {
    width: 0;
    height: 40px;
    outline: none;
    border-radius: 15px;
    font-size: 1.1rem;
    border: none;
    transition: all .5s;
}

.active {
    width: 300px;
    padding: 0 35px 0 15px;
}

.search-section .login {
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-between;
}

.search-section a {
    color: #fff;
}

.star {
    color: #f1c40f;
    margin-right: 10px;
}

.header-movie-display {
    color: #fff;
    height: 85vh;
    width: 70%;
    margin: 70px auto 0 auto;
    color: #fff;
}

section {
    height: 100vh;
}

.header-movie {
    display: flex;
    margin-bottom: 60px;
}

.description-display {
    padding-left: 45px;
}

.description-display h1 {
    font-size: 2.5rem;
}

.description {
    line-height: 30px;
    margin-bottom: 50px;
    height: 180px;
    overflow-y: auto;
    letter-spacing: 1px;
}

.release-date {
    font-weight: 300;
    margin: 15px 0 15px 0 ;
}

.genre-description {
    font-weight: 800;
    color: #eee;
}

.header-img {
    height: 500px;
    width: 400px;
    box-shadow: 0px 0px 10px 5px rgb(85, 84, 84)
}

.imdb-img {
    height: 60px;
    width: 70px;
    margin-left: 30px;
}

.rating-flex {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.header-btns {
    display: flex;
}

.header-btns button {
    width: 300px;
    border-radius: 20px;
    height: 50px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
}

.btn-1 {
    background-color: rgb(43, 43, 43);
    color: rgb(104, 104, 104);
}

.btn-2 {
    margin-left: 40px;
    background-color: red;
    color: #fff;
}

.premiers {
    display: flex;
    margin-top: 20px;
}

.premiers-display {
    position: relative;
    margin-right: 40px;
    cursor: pointer;
}

.premiere-img {
    display: block;
    width: 250px;
    height: 150px;
    border-radius: 10px;
}

.image-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-text h3{
    font-weight: 800;
    text-align: center;
}

